body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}
.right {
    display: flex;
    gap: 10px;
    margin-right: 150px;
}

.header_logo {
    margin-left: 150px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: extra-bold;
}

.signup {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 100px;
}
.signup-left {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin-left: 150px;
}
img {
    width: 400px;
    margin-right: 150px;
}

.header-one {
    font: 60px;
    font-weight: bold;
}

.btn-1 {
    background-color: #3882F6;
    color: white;
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 5px;
    
}

.header {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
}

.signup {
    background-color: #1F2937;
    color: white;
}

.footer {
    background-color: #1F2937;
    color: white;
}

.random {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {

    height: 50px;
    padding: 20px;
    border: 2px solid #3882F6;
    background-color: transparent;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightgrey;
    font-size: 16px;
}
.containers {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.horizontal {
    display: flex;
    align-items: space-between;
    gap: 50px;
}

.ps {
    color: rgb(92, 92, 92);
    font-size: 16px;
    text-align: center;
}


.quote {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    justify-content: center;
    margin: 0;
    padding: 50px;


}

.top {
    font-size: 36px;
    font-style: light,italic;
    color: rgb(44, 44, 44);
    margin: auto;
    text-align: left;
    width: 600px;
}

.bottom {
    font-size: 25px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 34%;
    display: flex;
    justify-content: flex-end;

}



.footer {
    text-align: center;
    margin-bottom: 0px;
    display: flex;
    flex-direction:column;

}

.call_to_action {
    display: flex;
    background-color: #3882F6;

}

.btn-2 {
    width: 100px;
    border: solid 1px white;
    background-color: #3882F6;
    color:white;
    border-radius: 5px;
}

.p1 {
    margin: 0;
}

.p2 {
    margin: 0;
}